$hexadecimal: 9;

$initAngle: 22.5deg;

$second_dark_gray: #454552;
$light: #f4f4f4;
$light_orange: #ffeee4;
$vivid_blue: #4ea1d3;
$light_blue: #d3e0f7;
$vivid_pink: #e85a71;
$dark_red: #a6172d;
$vivid_red: #c72e45;
$numbers: #181842;
