.json-circle {
  border-radius: 50%;
  display: inline-block;
  position: relative;
  transform: rotate(113deg);
  &__pie {
    position: absolute;
    width: 100%;
    top: 50%;
    &__line {
      border-bottom: 1px solid black;
      position: absolute;
      top: 50%;
      width: 100%;
    }
    &__text {
      color: #fff;
      position: absolute;
      margin-top: 10px;
      margin-left: 20px;
      font-weight: 600;
      &.active {
        animation: ani-twincle 0.5s linear infinite;
      }
    }
  }
  &__arrow-wrap {
    position: absolute;
    top: 40%;
    left: 40%;
    border-radius: 50%;
    background-color: #eee;
    width: 20%;
    height: 20%;
    z-index: 1;
    transform: rotate(260deg);
    transition: transform 0.5s linear;
    &::after {
      border: 1px solid #333;
      position: absolute;
      content: "";
      top: calc(10% - 1px);
      left: calc(10% - 1px);
      width: 80%;
      height: 80%;
      border-radius: 50%;
    }
  }
  &__arrow {
    border: 10px solid transparent;
    border-bottom-color: #333;
    position: absolute;
    z-index: 1;
    left: calc(50% - 10px);
    top: calc(50% - 10px);
    margin: -10px 0;
    &::after {
      position: absolute;
      content: "";
      background-color: #333;
      width: 10px;
      height: 10px;
      margin-top: 10px;
      margin-left: -5px;
    }
  }
}

@keyframes ani-twincle {
  0% {
    filter: opacity(1);
  }
  50% {
    filter: opacity(0.5);
  }
  100% {
    filter: opacity(1);
  }
}