@import 'reset.scss';
@import 'variables.scss';
@font-face {
  font-family: 'NeoDunggeunmo';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.3/NeoDunggeunmo.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}
body {
  font: {
    family: 'NeoDunggeunmo';
    size: 18px;
  }
  color: $gray;
}
button,
input {
  font-family: 'NeoDunggeunmo';
}
button:hover {
  cursor: pointer;
}
button {
  font-size: 16px;
}

.contents-box {
  display: flex;
  padding: 30px;
  .mars,
  .earth {
    width: 50%;
  }
}

.mars {
  display: flex;
  flex-direction: column;
  align-items: center;

  .circular-sign {
    position: relative;
  }
}

.arrow {
  font-size: 100px;
  color: $arrow;
  position: absolute;
  top: 195px;
  left: 225px;
  transform: rotate(11.25deg);
}

.mars-screen,
.earth-screen {
  margin-top: 50px;

  .conversion-wrap {
    display: flex;
    align-items: center;
  }

  .screen-wrap {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
  }

  .send-receive-info {
    width: 400px;
    height: 50px;
    border: 4px solid $light-gray;
    margin: 10px 0px;
    display: flex;
    align-items: center;
    padding: 0px 10px;
    font-size: 24px;
  }
  .mars-send-receive-info {
    color: $orange;
  }

  .send-input {
    margin: 10px 0px;
    border: 2px solid $light-gray;
    width: 400px;
    height: 45px;
    border-radius: 3px;
    padding: 5px 10px;
    font-size: 24px;
  }

  .mars-btn {
    width: 150px;
    height: 35px;
    background-color: $mars-btn;
    color: $dark-gray;
    border-radius: 10px;
  }

  .conversion-result {
    font-size: 28px;
    color: $orange;
    margin-left: 15px;
  }
}

// ====================== Earth ======================

.earth {
  margin-left: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.earth-img {
  img {
    width: 300px;
  }
}

.earth-send-receive-info {
  color: $green;
}

.earth-btn {
  width: 150px;
  height: 35px;
  background-color: $earth-btn;
  color: $dark-gray;
  border-radius: 10px;
}