// colors
$dark-gray: #494949;
$gray: #646464;
$light-gray: #8f8f8f;
$sign-backgound: #e7cdcd;
$sign-focused: #fff58a;
$arrow: #fa4b4b;
$mars-btn: #ffa36e;
$earth-btn: #d6f099;
$orange: #ff520e;
$green: #1e6900;
