@import './scss/jsonCircle.scss';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #333;
  &:focus {
    outline: none;
  }
}

body {
  padding: 5vw 5vh;
}

section {
  float: left;
  width: 100%;
  margin-bottom: 2vh;
}

.earth {
  position: absolute;
  right: 10vw;
  font-size: 64px;
  cursor: default;
}

.section-input {
  .input-item {
    float: left;
    width: 50%;
    max-width: 400px;
    span {
      display: block;
      font-weight: 600;
      font-size: 20px;
      margin-bottom: 0.3em;
    }
    input {
      background-color: #fff;
      border: none;
      border: 1px solid #aaa;
      font-size: 16px;
      letter-spacing: 0.03em;
      line-height: 16px;
      height: 36px;
      padding: 0 1em;
      vertical-align: bottom;
    }
    button {
      @extend input;
      text-align: center;
      border-radius: 5px;
      transition: all 0.3s ease-in-out;
      cursor: pointer;
      &:hover {
        color: #000;
        border-color: #000;
      }
    }
  }
}
