body,
input,
textarea,
select,
button,
table {
  font-family: AppleSDGothicNeo-Regular, 'Malgun Gothic', '맑은 고딕', dotum,
    '돋움', sans-serif;
}

.main--upper {
  position: relative;
  display: flex;

  .chart-text {
    font-size: 4;
    fill: #b5d99c;
  }

  .svg {
    background: white;
    width: 600px;
    height: 600px;
  }

  .arrow img {
    position: absolute;
    left: 205px;
    top: 225px;
    width: 90px;
  }

  .receiver img {
    width: 50px;
  }
}

.main--lower {
  display: flex;
  div {
    display: flex;
    flex-direction: column;
    padding: 50px;
    input {
      width: 300px;
      height: 40px;
      border-radius: 7px;
      border-style: solid;
    }

    button {
      background-color: #0396a6;
      color: white;
      width: 100px;
      height: 35px;
      margin: 20px 0;
      border: none;
      border-radius: 7px;
    }
  }
}
