#canvas {
  display: block;
  margin-left: 100px;
  margin-top: 50px;
  border: 1px solid black;
}
.canvas-wrapper {
  position: relative;
}
.arrow {
  position: absolute;
  width: 60px;
  height: 60px;
  left: 320px;
  top: 220px;
  text-align: center;
  line-height: 60px;
  font-size: 3rem;
  color: #0b5394;
  transition: all 0.2s;
}
.wrapper {
  display: flex;
  margin-left: 100px;
  margin-top: 50px;
}

.receive {
  margin-right: 30px;
}
