<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=DotGothic16&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/fb7e7bab0c.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <main>
      <section class="circle">
        <div class="line-container">
          <!-- 여기부터 템플릿 처리 하기 -->
          <div class="line" id="l-01">
            <span class="line-span line__text-l" id="text-C">C</span>
            <span class="line-span line__text-r" id="text-5">5</span>
          </div>
          <div class="line" id="l-02">
            <span class="line-span line__text-l" id="text-D">D</span>
            <span class="line-span line__text-r" id="text-6">6</span>
          </div>
          <div class="line" id="l-03">
            <span class="line-span line__text-l" id="text-E">E</span>
            <span class="line-span line__text-r" id="text-7">7</span>
          </div>
          <div class="line" id="l-04">
            <span class="line-span line__text-l" id="text-F">F</span>
            <span class="line-span line__text-r" id="text-8">8</span>
          </div>
          <div class="line" id="l-05">
            <span class="line-span line__text-l" id="text-0">0</span>
            <span class="line-span line__text-r" id="text-9">9</span>
          </div>
          <div class="line" id="l-06">
            <span class="line-span line__text-l" id="text-1">1</span>
            <span class="line-span line__text-r" id="text-A">A</span>
          </div>
          <div class="line" id="l-07">
            <span class="line-span line__text-l" id="text-2">2</span>
            <span class="line-span line__text-r" id="text-B">B</span>
          </div>
          <div class="line" id="l-08">
            <span class="line-span line__text-l" id="text-3">3</span>
          </div>
          <span class="line-span line__text-r-out" id="text-4">4</span>
        </div>
        <div class="arrow"><i class="fas fa-long-arrow-alt-up"></i></div>
      </section>

      <section class="input-container">
        <div class="input-box">
          <span>송수신정보</span>
          <input class="input-receive" type="text" disabled />
          <button>해석하기</button>
        </div>
        <div class="input-box">
          <span>발신정보입력</span>
          <input class="input-send" type="text" placeholder="> HELLO EARTH!" />
          <button>지구로보내기</button>
        </div>
      </section>

      <div class="bolt"><i class="fas fa-bolt"></i></div>
    </main>
    <script type="module" src="/javascripts/main.js"></script>
  </body>
</html>
