<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style/style.css" />
    <script
      defer
      src="https://use.fontawesome.com/releases/v5.15.2/js/all.js"
    ></script>
    <script type="module" src="/js/main.js" defer></script>
    <title>fe4</title>
  </head>
  <body>
    <section class="transceiver">
      <main class="transceiver__main">
        <canvas width="500" height="500" class="main__figure"></canvas>
        <div class="main__arrow">
          <i class="fas fa-long-arrow-alt-up arrow"></i>
        </div>
      </main>
      <div class="transceiver__info">
        <form class="info__receive">
          <label for="receiver"
            >송수신정보
            <input type="text" name="receiver" class="receive__input" />
          </label>
          <button class="receive__btn"><span>해석하기</span></button>
        </form>
        <div class="info__transmit">
          <label for="transmitter"
            >발신정보입력
            <input type="text" name="transmitter" class="transmit__input" />
          </label>
          <button class="transmit__btn"><span>지구로 보내기</span></button>
        </div>
      </div>
    </section>
  </body>
</html>
