<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/style.css">
    <script defer type="module" src="/js/main.js"></script>
</head>
<body>
    <h1 class="title">마크 와트니와 통신하라</h1>
    <div class="table__container">
        <div class="table__line_box">
            <div class="line line1">
                <span class="line__txt">0</span>
                <span class="line__txt">8</span>
            </div>
            <div class="line line2">
                <span class="line__txt">1</span>
                <span class="line__txt">9</span>
            </div>
            <div class="line line3">
                <span class="line__txt">2</span>
                <span class="line__txt">A</span>
            </div>
            <div class="line line4">
                <span class="line__txt">B</span>
                <span class="line__txt">3</span>
            </div>
            <div class="line line5">
                <span class="line__txt">C</span>
                <span class="line__txt">4</span>
            </div>
            <div class="line line6">
                <span class="line__txt">D</span>
                <span class="line__txt">5</span>
            </div>
            <div class="line line7">
                <span class="line__txt">E</span>
                <span class="line__txt">6</span>
            </div>
            <div class="line line8">
                <span class="line__txt">F</span>
                <span class="line__txt">7</span>
            </div>
        </div>
        <span class="table__arrow">➔</span>
    </div>
    <div class="input__container">
        <div class="input__box">
            <h2>송수신정보</h2>
            <input type="text" class="input__txt">
            <button type="button" class="input__btn">해석하기</button>
        </div>
        <div class="input__box">
            <h2>발신정보입력</h2>
            <input type="text" class="input__txt">
            <button type="button" class="input__btn">지구로 보내기</button>
        </div>
    </div>
</body>
</html>