body {
    padding: 50px;
}
.title {
    font-size: 2rem;
    font-weight: 700;
    color: #222;
}

/* ======== 원형 테이블 ======== */
.table__container {
    padding: 40px 0;
    position: relative;
}
.table__line_box {
    width: 410px;
    height: 410px;
    position: relative;
}

/* ======== 원형 테이블 그리기 ======== */
.line {
    width: 410px;
    height: 0;
    border-top: 1px solid #ccc;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.line > span {
    color: #ccc;
}
.line1 {
    transform: rotate(112.5deg);
}
.line1 > span {
    /* =============== */
    /* 텍스트의 기준이 div선이기 때문에 회전한 상태에서 배치된다. */
    /* 그래서 그만큼 반대로 다시 회전시켜서 정방향으로 나오도록 회전 */
    transform: rotate(-112.5deg);
}

.line2 {
    transform: rotate(135deg);
}
.line2 > span {
    transform: rotate(-135deg);
}

.line3 {
    transform: rotate(157.5deg);
}
.line3 > span {
    transform: rotate(-157.5deg);
}

.line5 {
    transform: rotate(22.5deg);
}
.line5 > span {
    transform: rotate(-22.5deg);
}

.line6 {
    transform: rotate(45deg);
}
.line6 > span {
    transform: rotate(-45deg);
}

.line7 {
    transform: rotate(67.5deg);
}
.line7 > span {
    transform: rotate(-67.5deg);
}

.line8 {
    transform: rotate(90deg);
}
.line8 > span {
    transform: rotate(-90deg);
}

.line__txt {
    display: block;
    position: absolute;
    font-size: 1.8rem;
}
.line .line__txt:first-child {
    left: 20px;
    top: 20px;
}
.line .line__txt:last-child {
    right: 20px;
    top: -50px;
}

.table__arrow {
    display: block;
    width: 55px;
    height: 50px;
    position: absolute;
    top: 220px;
    left: 179px;
    font-size: 4rem;
    color: rgb(106, 168, 158);
    /* transform: rotate(); */
    transition-duration: 400ms;
}

/* ======== 입력창 ======== */
.input__container {
    position: absolute;
    top: 580px;
    width: 900px;
}
.container::after {
    content: "";
    display: block;
    clear: both;
}
.input__box {
    float: left;
    width: 400px;
}
.input__box > h2 {
    margin: 10px 0;
    color: #333;
}
.input__txt {
    display: block;
    outline: none;
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 300px;
    height: 35px;
}
.input__btn {
    width: 120px;
    height: 33px;
    margin-top: 10px;
    outline: none;
    border: 0 none;
    border-radius: 8px;
    background-color: rgb(177, 226, 218);
    color: #333;
    cursor: pointer;
}
