<!DOCTYPE html>
<html>
  <head>
    <title>MARTIAN</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <script defer type="module" src="/javascripts/main.js"></script>
  </head>
  <body>
    <div class="pie__container">
      <div class="pie">
        <div id="slice" class="pie__slice__container">
          <div class="pie__slice__hold">
            <div class="pie__slice">
              <span></span>
              <span>8</span>
            </div>
          </div>
        </div>
        <div id="slice1" class="pie__slice__container">
          <div class="pie__slice__hold">
            <div class="pie__slice">
              <span>0</span>
              <span>9</span>
            </div>
          </div>
        </div>
        <div id="slice2" class="pie__slice__container">
          <div class="pie__slice__hold">
            <div class="pie__slice">
              <span>1</span>
              <span>A</span>
            </div>
          </div>
        </div>
        <div id="slice3" class="pie__slice__container">
          <div class="pie__slice__hold">
            <div class="pie__slice">
              <span>2</span>
              <span>B</span>
            </div>
          </div>
        </div>
        <div id="slice4" class="pie__slice__container">
          <div class="pie__slice__hold">
            <div class="pie__slice">
              <span>3</span>
              <span>C</span>
            </div>
          </div>
        </div>
        <div id="slice5" class="pie__slice__container">
          <div class="pie__slice__hold">
            <div class="pie__slice">
              <span>4</span>
              <span>D</span>
            </div>
          </div>
        </div>
        <div id="slice6" class="pie__slice__container">
          <div class="pie__slice__hold">
            <div class="pie__slice">
              <span>5</span>
              <span>E</span>
            </div>
          </div>
        </div>
        <div id="slice7" class="pie__slice__container">
          <div class="pie__slice__hold">
            <div class="pie__slice">
              <span>6</span>
              <span>F</span>
            </div>
          </div>
        </div>
        <div id="slice8" class="pie__slice__container">
          <div class="pie__slice__hold">
            <div class="pie__slice">
              <span>7</span>
              <span></span>
            </div>
          </div>
        </div>
      </div>
      <div class="inner__pie"></div>
      <div class="message">
        <div class="message__srinfo">
          <label for="hex_input">송수신 정보</label>
          <input id="hex_input" class="input1" type="text" />
          <button class="interprete">해석하기</button>
        </div>
        <div class="message__send">
          <label for="hex">발신정보 입력</label>
          <input class="input2" id="hex" type="text" />
          <button>지구로 보내기</button>
        </div>
      </div>
      <div class="section__interpreted"></div>
    </div>
  </body>
</html>
