<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/index.css">
</head>
<body>
    <div class="wrapper">
        <div class="renderPage">
            <img class="renderPage circleImg" src="./images/hex-circle.jpeg" alt="">
            <img class="renderPage arrowImg" src="./images/right-arrow.png" alt="">
        </div>
        <div class="inputbox">
            <h2>송수신정보</h2>
            <input class="transceiver" type="text">
            <button class="transBtn">
                해석하기
            </button>
            <h2>발신정보입력</h2>
            <input class="sendInfo" type="text">
            <button class="sendBtn">
                지구로 보내기
            </button>
        </div>
    </div>
    <script type="module" src="./javascripts/main.js"></script>
</body>
</html>