$circle-radius: 260px;

$pie-cnt: 16;
$pie-angle: 360deg / $pie-cnt;

$arrow-width: $circle-radius / 2;
$arrow-height: $arrow-width;
$arrow-img-url: url("http://localhost:3000/img/arrow.png");

$form-width: $circle-radius;
$form-height: $form-width;
$form-title-font-size: 34px;
$form-btn-font-size: 30px;