* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  outline: none; }

@font-face {
  font-family: dungenmo;
  src: url("/style/neodgm.ttf"); }

.title {
  font-size: 40px; }

html, body, button {
  font-family: dungenmo; }

.title {
  margin-top: 50px;
  text-align: center;
  color: #a094b7; }

.wrap {
  position: relative;
  width: 500px;
  height: 500px; }

.canvas {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background: #eeeeee; }

.roulette {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: red;
  overflow: hidden; }

#arrow {
  border: 5px solid #bbb5c3;
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -50px 0 0 -50px;
  width: 100px;
  height: 100px;
  font-weight: bold;
  background: #fff;
  border-radius: 60px;
  z-index: 9999;
  cursor: pointer;
  font-size: 63px;
  text-align: center;
  transform: rotate(22.5deg); }

.transmission {
  display: flex; }

.input__box {
  display: flex;
  flex-direction: column;
  padding: 1em 1em;
  background-color: #fdfdfd; }
  .input__box label {
    font-size: 20px;
    color: #595959; }
  .input__box input {
    border-radius: 6px;
    border: 2px solid #d7d7d7;
    margin: .5em 0;
    padding: .5em 0;
    font-size: 20px; }
  .input__box button {
    margin: 10px 0;
    padding: 5px 0;
    font-size: 18px;
    border: none;
    border-radius: 6px; }
  .input__box button:hover {
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.42); }

.recept__zone {
  padding: 16px 20px;
  position: relative; }

.recept__box {
  width: 470px;
  height: 466px;
  position: relative;
  border-radius: 50%;
  background-color: #ede7f6;
  border: 5px solid #bbb5c3; }

.line {
  width: 460px;
  height: 0;
  border-top: 5px solid #bbb5c3;
  position: absolute;
  top: 50%;
  transform: translateY(-50%); }
  .line .light {
    color: red; }
  .line span {
    color: #bbb5c3; }
  .line__1 {
    transform: rotate(112.5deg); }
    .line__1 span {
      transform: rotate(-112.5deg); }
  .line__2 {
    transform: rotate(135deg); }
    .line__2 span {
      transform: rotate(-135deg); }
  .line__3 {
    transform: rotate(157.5deg); }
    .line__3 span {
      transform: rotate(-157.5deg); }
  .line__5 {
    transform: rotate(22.5deg); }
    .line__5 span {
      transform: rotate(-22.5deg); }
  .line__6 {
    transform: rotate(45deg); }
    .line__6 span {
      transform: rotate(-45deg); }
  .line__7 {
    transform: rotate(67.5deg); }
    .line__7 span {
      transform: rotate(-67.5deg); }
  .line__8 {
    transform: rotate(90deg); }
    .line__8 span {
      transform: rotate(-90deg); }
  .line__txt {
    display: block;
    position: absolute;
    font-size: 1.8rem; }
    .line__txt:first-child {
      left: 20px;
      top: 20px; }
    .line__txt:last-child {
      right: 20px;
      top: -50px; }
