

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    outline: none;    
}


@font-face {
    font-family: dungenmo;
    src: url("/style/neodgm.ttf");
}



.title {
    font-size: 40px;
}
html, body, button{
	font-family:dungenmo;
}


.title{
    margin-top:50px;
    text-align:center;
    color:#a094b7;
}
.wrap {
    position: relative;

    width: 500px;
    height: 500px;
}
.canvas{
    position:relative;
    // margin:50px auto;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background:rgb(238, 238, 238);
}

.roulette{
    position:relative;
    width:100%;
    height:100%;
    background-color: red;
    overflow:hidden;}

// .wrap{
//     position:relative;
//     margin:50px auto;
//     width:500px;
//     height:500px;
//     border:10px solid #ccc;
//     border-radius:50%;
//     background:#ccc;
//     overflow:hidden;}
// .box-roulette .markers{position:absolute;left:50%;top:0;margin-left:-25px;width:0;height:0;border:25px solid #fff;border-left-color:transparent;border-right-color:transparent;border-bottom-color:transparent;z-index:9999;}
// .box-roulette .roulette{position:relative;width:100%;height:100%;overflow:hidden;}
// .box-roulette .item{position:absolute;top:0;width:0;height:0;border:0 solid transparent;transform-origin:0 100%;}
// .box-roulette .label{position:absolute;left:0;top:0;color:#fff;white-space:nowrap;transform-origin:0 0;}
// .box-roulette .label .text{display:inline-block;font-size:20px;font-weight:bold;line-height:1;vertical-align:middle;}

#arrow{
    border:5px solid #bbb5c3;
    display:block;
    position:absolute;
    left:50%;
    top:50%;
    margin:-50px 0 0 -50px;
    width:100px;
    height:100px;
    font-weight:bold;
    background:#fff;
    border-radius:60px;
    z-index:9999;
    cursor:pointer;
    font-size: 63px;
    text-align: center;
    transform: rotate(22.5deg);

}

.transmission {
    display: flex;
}
.input__box {
    display: flex;
    flex-direction:column;
    padding: 1em 1em;
    background-color: #fdfdfd;
   
    label {
        font-size: 20px;
        color: #595959;
    }
    input {
        border-radius: 6px;
        border: 2px solid #d7d7d7;
        margin: .5em 0;
        padding:.5em 0;
        font-size: 20px;

    }

    button {
        margin:10px 0;
        padding: 5px 0;
        font-size: 18px;
        border:none;
        border-radius: 6px;

    }
    button:hover{
        box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.42);
    }
}

.recept {
    &__zone {
        padding: 16px 20px;
        position: relative;
    }
    
    &__box {
        width: 470px;
        height: 466px;
        position: relative;
        border-radius: 50%;
        background-color: #ede7f6;
        border: 5px solid #bbb5c3;
    
    }
}

.line {
    width: 460px;
    height: 0;
    border-top: 5px solid #bbb5c3;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    .light{
    
        color:red ;
    
    }

    span {
        color: #bbb5c3;
        
    
    }
  


    &__1{
        transform: rotate(112.5deg);
        span{
            transform: rotate(-112.5deg);
        }
    }

    &__2{
        transform: rotate(135deg);
        span {
            transform: rotate(-135deg);
        }
    }

    &__3{
        transform: rotate(157.5deg);
        span {
            transform: rotate(-157.5deg);
        }
    }

    &__5{
        transform: rotate(22.5deg);
        span {
            transform: rotate(-22.5deg);
        }
    }

    &__6{
        transform: rotate(45deg);
        span {
            transform: rotate(-45deg);
        }
    }

    &__7{
        transform: rotate(67.5deg);
        span {
            transform: rotate(-67.5deg);
        }
    }

    &__8{
        transform: rotate(90deg);
        span {
            transform: rotate(-90deg);
        }
    }

    &__txt {
        display: block;
        position: absolute;
        font-size: 1.8rem;

        &:first-child {
            left: 20px;
            top: 20px;
        }
        &:last-child {
            right: 20px;
            top: -50px;
        }  
    }
}

